body{
    background-image: linear-gradient(#3fa2d0, #96ccf3);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.center-container {
    position: relative;
    color: white;
}

.wheel-img {
    margin-top: 0%;
    width: 500px;
    animation: rotation 6s infinite linear;
}

@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.ucsc-img {
    width: 100px;
    margin-left: right;
    opacity: .4;
}


/* ------------ Title for the website ----------- */
.web-head {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* ------------ Button color / size modifications ------------- */
.go-btn {
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 4px;
    font-size: 14px;
    color: #0F1419;
    transition: 0.5s;
    background-size: 200% auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.go-btn:hover {
    background-position: right center; /* change the direction of the change here */
}

.btn-3 {
    background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
}

/* Utility class for centering things in the site */
.center-disp{
    display: block;
    margin-left: auto;
    margin-right: auto;
}



/* ---------- Grass class for animation -----------*/
.grass-img {
    width: 500%;
    height: 100px;
    display: block;
    background-image: url('../images/grass.png');
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-repeat: repeat-x;
    animation: grass 6s linear infinite;
}
@keyframes grass 
{
    100% {
        transform: translateX(-3400px);
    }
}