/* Styles for tabs */
.top-nav {
    background-color: #2F3E46;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.top-nav a {
    display: inline-block;
    color: #84A98C;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.top-nav a:hover {
    background-color: #CAD2C5;
    color: black;
}

.top-nav a.active {
    background-color: #CAD2C5;
    color: black;
}

/* Styles for tab panes */
.tab-pane {
    display: none; /* Hide all tab panes by default */
}

.tab-pane.active {
    display: block; /* Show the active tab pane */
    padding: 20px; /* Adjusted padding for better spacing */
}

/* Add additional styling for tab pane content as needed */
.tab-pane h3 {
    color: #52796F; /* Example color for heading in tab pane */
}

.tab-pane p {
    color: #354F52; /* Example color for paragraph text in tab pane */
}
